:root {
  --color-principal: #90a081;
  --color-secundario: #f1ac7b;
  --color-botones: #ffc107;
  --color-consola: #1e1e1e;
  --color-letra-consola: #16a55b;
  --color-letra-botones: #212529;
}
.principal {
  background-color: var(--color-principal);
}
.boton {
  background-color: var(--color-botones);
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--color-letra-botones);
}
.sidebar {
  background-color: var(--color-secundario);
}
.cajaNegra {
  background-color: black;
  margin-top: 70px;
  max-height: 750px;
  min-height: 750px;
}
.consola {
  color: var(--color-letra-consola);
}